body {
    /*background: #FFF;*/
    /*background-image: url(flag.jpg);*/
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    
    width: 100%;
    height: 55px;
}



@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #F73E24;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}



#navbar-logo{
    float: left;
}
#text{
    float:left;
    font-family: 'Suez One', serif;
}

#container {
    
    margin: auto auto;
    text-align: center;
    width: 80%;
    height: 400px;
}

#navigation {
    
    width: 100%;
    height: 25px;
}

#sidebar {
    
    float: right;
    width: 10%;
    height: 280px;
}

#content {
    
    float: right;
    width: 90%;
    height: 280px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    padding: 10px;
    border: 1px solid black;

}

#clear {
    clear: both;
}

#footer {
   
   width: 100%;
   height: 40px;
}